body{
    
}
.carea{
    height: 450px;
    background-image: url('img/anisha.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.text {
    font-family: 'Berkshire Swash', cursive;
    font-size: 70px;
    letter-spacing:5px;
    color: white;
    top: 100px;
    position: relative;
    text-align: center;
  }
.title{
    padding:30px;
    background-color: lightsteelblue;
}
.title p{
    vertical-align:middle;
    text-align: center;
}
.title a:after{
    content:">>";
}
.title a:last-child:after{
    content:" ";
}
.darea{
    margin-top:-10px;
}