body{
    background:#F7F7F7;
}
.mainarea{
    background:;
}
.toparea{
    width:auto;
    height:150px;
    font-family: cursive;
    /*background:linear-gradient(to right, #EC852C,#94400C);*/
}
.toparea h1{
    /*text-align:center;*/
    margin:50px 50px;
    color:black;
}
.navbar{
    margin-top:50px;
}
.boxarea{
    background:linear-gradient(to right, #1077e5 20%,#D8B16C 80%);
}
.boxarea img{
    width:100%;
    height:auto;
    margin:15px 0;
    border:1px solid black;
    border-radius:20px;
}
/*.first-cols{
    height:100px;
    padding:100px 10px;
    margin-left:150px;
    margin-top:300px;
}
.first-cols img{
    margin-bottom:50px;
    border:1px solid black;
    border-radius:20px;
}
.second-cols{
    padding:75px 10px;
    margin-top:200px;
}
.second-cols img{
    margin-bottom:50px;
    border:1px solid black;
    border-radius:20px;
}
.third-cols{
    padding:50px 10;
    margin-top:100px;
}
.third-cols img{
    margin-bottom:50px;
    border:1px solid black;
    border-radius:20px;
}
.fifth-cols{
    padding:75px 0;
    margin-top:200px;
}
.fifth-cols img{
    margin-bottom:50px;
    border:1px solid black;
    border-radius:20px;
}
.sixth-cols{
    padding:100px 0;
    margin-top:300px;
}
.sixth-cols img{
    margin-bottom:50px;
    border:1px solid black;
    border-radius:20px;
}*/
.darea{
    width:100%;
    height:1000px;
    float:left;
    background:white;
}
.darea h1{
    color:black;
    text-align:center;
    overflow:hidden;
    margin-top:40px;
}
.darea h1:before,.darea h1:after{
    content:" ";	
    width:50%;
    height:1px;
    background:black;
    position:relative;
    display:inline-block;
    vertical-align:middle;
}
.darea h1:before{
    right:10px;
    margin-left:-50%;
}
.darea h1:after{
    left:10px;
    margin-right:-50%;
}
.d1{
    /*width:350px;
    height:400px;
    float:left;*/
    margin:100px 30px 50px 0;
    position:relative;
}
.d1 img{
    width:100%;
    height:100%;
}
.details{
    position:absolute;
    bottom:0;
    width:350px;
    padding:25px;
    text-align:center;
	background:rgba(0,0,0,0.4);
	font-weight:bold;
	color:white;
    border-radius:100px;
}
.d2{
    /*width:250px;
    height:250px;
    float:left;*/
    margin:10px 20px 50px 0;
    position:relative;
}
.d2 img{
    width:100%;
    height:100%;
}
.details1{
    position:absolute;
    bottom:0;
    width:250px;
    padding:5px;
    text-align:center;
	background:rgba(0,0,0,0.4);
	font-weight:bold;
	color:white;
    border-radius:50px;
}
/*.earea{
    width:100%;
    height:1000px;
    float:left;
    margin-top:50px;
    margin-bottom:100px;
    background:;
}
.earea h1{
    color:black;
    text-align:center;
    overflow:hidden;
    margin-top:40px;
}
.earea h1:before,.earea h1:after{
    content:" ";	
    width:50%;
    height:1px;
    background:black;
    position:relative;
    display:inline-block;
    vertical-align:middle;
}
.earea h1:before{
    right:10px;
    margin-left:-50%;
}
.earea h1:after{
    left:10px;
    margin-right:-50%;
}
.e1{
    width:450px;
    height:500px;
    float:left;
    margin:100px 30px 0px 0;
    position:relative;
}
.e1 img{
    width:100%;
    height:100%;
}
.details2{
    position:absolute;
    bottom:0;
    width:450px;
    padding:25px;
    text-align:center;
	background:rgba(0,0,0,0.4);
	font-weight:bold;
	color:white;
    border-radius:100px;
}*/
/* Footer */
/*@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: red !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}*/
.footer{
    background:red;
}

