body{
    
}
.carea{
    height: 450px;
    background-image: url('img/anisha.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.text {
    font-family: 'Berkshire Swash', cursive;
    font-size: 70px;
    line-height: 32px;
    letter-spacing:5px;
    color: white;
    top: 150px;
    position: relative;
    text-align: center;
  }